.carCard{
    width:20vw;
    height:50vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.2);
}

.carCardText{
    font-size: large;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5%;
    height: 30%;
    line-height: 3vh;
}

.carCardUpdate{
    width:20vw;
    height:65vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.2);
}