.homepage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width : 100%;
    height : 100%;
  }
  
  .homepage .div {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }
  
  .homepage .overlap {
    height: 782px;
    left: -1px;
    position: absolute;
    top: 112px;
    width: 1441px;
  }
  
  .homepage .bg {
    background-color: #f2f0f1;
    height: 888px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .homepage .carbanner {
    height: 554px;
    left: 55vw;
    object-fit: cover;
    position: absolute;
    top: 20vh;
  }
  
  .CARRENTAL-OREO {
    color: #000000;
    font-family: "Archivo Black-Regular", Helvetica;
    font-size: 300%;
    font-weight: 800;

  }
  
  .homepage .booking {
    align-items: center;
    background-color: #000000;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    padding: 25px;
    margin-top: 100px;
  }
  
  .homepage .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size:x-large;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
  }

  
  .homepage .line {
    height: 1px;
    left: 101px;
    object-fit: cover;
    position: absolute;
    top: 59px;
    width: 1240px;
  }
  
  .homepage .frame {
    align-items: flex-start;
    display: flex;
    gap: 207px;
    justify-content: space-around;
    left: 101px;
    position: absolute;
    top: 15px;
    width: 1240px;
  }
  
  .homepage .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 35px;
    position: relative;
  }
  
  .homepage .text-wrapper-2 {
    color: #ffffff;
    font-family: "Archivo Black-Regular", Helvetica;
    font-size: 33.5px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .homepage .frame-3 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .homepage .element-all-rights {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 82px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 66px;
    white-space: nowrap;
    width: 305px;
  }
  
  .homepage .bar {
    height: 109px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1444px;
  }
  
  .homepage .overlap-group-2 {
    background-color: #ffffff;
    height: 109px;
    position: relative;
    width: 1440px;
  }
  
  .homepage .logo {
    height: 73px;
    left: 72px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 205px;
  }
  
  .homepage .text-wrapper-3 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 1211px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 58px;
  }
  
  .homepage .text-wrapper-4 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 1308px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 58px;
  }
  