.view {
    background-color: #f2f0f1;
    width: 100vw;
    height: 90vh;
    padding-left: 5vw;
    padding-top: 10vh;
  }
  
.image {
    object-fit:cover;
    position: absolute;
    right: 0;
    bottom: 10vh;
    height: 90%;
    width: 40%;
  }
  
.text-wrapper-2 {
    color: #000000;
    font-family: "Archivo Black-Regular", Helvetica;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0;
}